@import '../../styles/index.scss';

.root {
  position: relative;
  width: 100%;

  label {
    @include typo-heading-4();
  }

  input {
    width: 92%;
  }

  span {
    @include typo-heading-4();
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
  }

  input:focus {
    outline: none;
  }
}

.input_error {
  color: $red-high-color !important;
  border-color: $red-high-color !important;
}
